body {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 200;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.wrap {
	min-width: 640px;
}

#header {
    text-align: center;
}

.navbar {
	background-color: #5f5f5f;
	height: 97px;
	color: #ffffff;
	font-size: 1.3em;
}

.navbar a {
	color: #ffffff !important;
}

.navbar a:hover {
	color: #ffcf32 !important;
}

.logo {
	margin-left: 64px;
}

.navbar-nav {
	margin-right: 64px;
}

.nav-link {
	margin-left: 32px;
}

.warning-box {
	margin-top: 97px;
	height: 42px;
	text-align: center;
	background-color: #ff0000;
}

.messages {
	list-style-type: none !important;
	padding-top: 9px;
	color: #ffffff;
	font-weight: 400;
}

.block_1 {
	background-color: #ffffff;
	height: 680px;
}

.contents_index {
	margin-top: 97px;
}

#title {
	padding-top: 60px;
	text-align: center;
	font-size: 4em;
	color: #5f5f5f;
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 100;
}
